body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgba(117, 171, 59, 0.614);
}

li {
  list-style: none;
}

label {
  font-weight: 750;
}

img {
  width: 100%;
}

.App {
  text-align: center;
}

.home {
  height: 100vh;
  text-align: center;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

.show>input {
  margin: 5px;
}

button {
  border-radius: 0%;
  background-color: rgba(117, 171, 59, 0.614);
}

button:active {
  background-color: rgba(117, 171, 59, 0.956);
}

.show {
  display: inline-block;
}

.error {
  color: red;
  font-weight: 700;
}

.center {
  justify-content: center;

}

.column {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
}

.radio {
  border: 1px solid black;
  width: 100%;
  color: black;
  background-color: black;
}

.left>label {
  justify-content: left;
  text-align: left;
  margin: 0;
  width: 50%;
}

.form {
  background-color: white;
  margin: 30px 30px;
  padding: 10px 20px;
}

.form > input {
  -webkit-appearance : none;
  border-radius: 0;
}

.left {
  text-align: left;
}

.btnLeft {
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .form {
    margin: 10px auto;
    max-width: 700px;
  }
}