body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

textarea{
  width: 100%;
  height: 3rem;
  border-radius: 15px;
  border: 1px solid black;
}

li {
  list-style: none;
}

label {
  font-weight: 750;
}

img {
  width: 100%;
}

.App {
  text-align: center;
}

.font-weight{
  font-weight: 750;
}

.home {
  height: 100vh;
  text-align: center;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

.show>input {
  margin: 5px;
}

button {
  color: white;
  font-weight: 750;
  float: left;
  border-radius: 15px;
  width: 20%;
  height: 30px;
  background-color: rgb(0, 72, 254);
}

button:active {
  background-color: rgba(117, 171, 59, 0.956);
}

button:hover{
  cursor: pointer;
}

.show {
  display: inline-block;
}

.error {
  color: red;
  font-weight: 700;
}

.center {
  justify-content: center;

}

.column {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
}

.radio {
  border: 1px solid black;
  width: 100%;
  color: black;
  background-color: black;
}

.left>label {
  justify-content: left;
  text-align: left;
  margin: 0;
  width: 50%;
}

.white{
  background-color: white;
  border-radius: 15px;
}

.form {
  background-color: white;
  margin: 30px 30px;
  padding: 10px 20px;
  background-image: url("https://wallpapercave.com/wp/wp3191315.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form > input {
  -webkit-appearance : none;
  border-radius: 0;
}

.left {
  text-align: left;
}

.btnLeft {
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .form {
    margin: 0px auto;
    max-width: 700px;
  }
}